  </br></br>
  <tr>
    <td><%= @user.user_type %></td>
    <td><%= @user.username %></td>
    <strong>user id: </strong>
    <td><%= @user.id %></td>
    <td><%= @rating %></td>
  </br>
  <tbody>
    <% @review_match.each do |review| %>
      <tr>
        <strong>Reviewee ID: </strong>
        <td><%= review.reviewee_id %></td>
        <strong>Reviewer ID: </strong>
        <td><%= review.reviewer_id %></td>
        <strong>Review text: </strong>
        <td><%= review.review %></td>
        <strong>Rating</strong>
        <td><%= review.rating %></td>
        </br>
      </tr>
    <% end %>
  </tbody>  
  </tr>