<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Client Rating</th>
    <th>Service</th>
    <th>Task Date</th>
    <th>Hourly Rate</th>
    <th>Approved Teen</th>
    <th>Listing Link</th>
  </tr>
  
  <!-- all get functions in service_listings_helper.rb -->
  <% is_teen = current_user_is_teen() %>
  <% @service_listings.each do |service_listing| %>
  <tr>
    <% client = get_service_listing_client(service_listing) %>
    <td><%= client.fname + ' ' + client.lname %></td>
    <td><%= get_service_list_client_rating(service_listing) %></td>
    <td><%= get_service_listing_service(service_listing) %></td>
    <td><%= get_service_listing_task_date(service_listing) %></td>
    <td><%= get_service_listing_hourly_rate(service_listing) %></td>
    <td><%= get_service_listing_approved_teen_name(service_listing.id) %></td>
    <td><%= link_to 'See details', service_listing_path(service_listing) %></td>
    
    <% if is_teen && service_listing_vacant(service_listing.id) %>
      <td><%= button_to 'Apply for job', { controller: 'service_listing_approvals', action: 'create', service_listing_id: service_listing.id } %></td>
    <% end %>
  </tr>
  <% end %>
</table>