
<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client first name</th>
    <th>Client last name</th>
    <th>Client Rating</th>
    <th>Service</th>
    <th>Hourly Rate</th>
    <th>Task Date</th>
    <th>Link</th>
  </tr>
  
  <% @service_listings.each do |service_listing| %>
  <tr>
    <td><%= User.find(service_listing.service_listing_group.client_id).fname %></td>
    <td><%= User.find(service_listing.service_listing_group.client_id).lname %></td>
    <td><%= Review.where(reviewee_id: User.find(service_listing.service_listing_group.client_id).id).average(:rating).round(2) %></td>
    <td><%= Service.find(service_listing.service_listing_group.service_id).name %></td>
    <td><%= service_listing.service_listing_group.hourly_rate %></td>
    <td><%= service_listing.task_date %></td>
    <td><%= link_to 'See details', service_listing_path(service_listing) %></td>
  </tr>
  <% end %>
</table>