<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Client Rating</th>
    <th>Service</th>
    <th>Task Date</th>
    <th>Hourly Rate</th>
    <th>Approved Teen</th>
    <th>Listing Link</th>
  </tr>
  
  <!-- all get functions in service_listings_helper.rb -->
  <% @service_listings.each do |service_listing| %>
  <tr>
    <% client = get_service_listing_client(service_listing) %>
    <td><%= get_user_full_name(client) %></td>
    <td><%= get_avg_rating(service_listing.user_id) %></td>
    <td><%= get_service_listing_service(service_listing) %></td>
    <td><%= service_listing.task_date %></td>
    <td><%= service_listing.hourly_rate %></td>
    <td><%= get_service_listing_approved_teen_name(service_listing.id) %></td>
    <td><%= link_to 'See details', service_listing_path(service_listing) %></td>
    
  </tr>
  <% end %>
</table>
<%= paginate @service_listings %>
<%= page_entries_info @service_listings %>