
<h1>All Service Listings</h1>

<table>
  <tr>
    <th>Client first name</th>
    <th>Client last name</th>
    <th>Client Rating</th>
    <th>Service</th>
    <th>Hourly Rate</th>
    <th>Task Date</th>
    <th>Link</th>
  </tr>
  
  <!-- all get functions in service_listings_helper.rb -->
  <% @service_listings.each do |service_listing| %>
  <tr>
    <td><%= get_service_listing_client(service_listing).fname %></td>
    <td><%= get_service_listing_client(service_listing).lname %></td>
    <td><%= get_service_list_client_rating(service_listing) %></td>
    <td><%= get_service_listing_service(service_listing) %></td>
    <td><%= get_service_listing_hourly_rate(service_listing) %></td>
    <td><%= get_service_listing_task_date(service_listing) %></td>
    <td><%= link_to 'See details', service_listing_path(service_listing) %></td>
  </tr>
  <% end %>
</table>