<% provide(:title, 'Add a Listing') %>
<h1>Add a Listing</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@service_listing) do |f| %>
    
      <%= f.label :service_listing_group_id %>
      <%= f.text_field :service_listing_group_id %>
      
      <%= f.label :task_date, "Task date" %>
     <%= f.text_field :task_date %>
      
      <br><%= f.submit "Add a new listing", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Back', welcome_index_path %>
