<!-- For now, the show page shows the same info as the index page plus the service listing description -->

<p>Service: <%= get_service_name(@service_listing.service_id) %></p>
<p>Task Date: <%= get_service_listing_task_date(@service_listing) %></p>
<p>Hourly Rate: <%= get_service_listing_hourly_rate(@service_listing) %></p>
<p>Approved Teen: <%= get_service_listing_approved_teen_name(@service_listing.id) %></p>

<% client = get_user(@service_listing.user_id) %>
<p>Client: <%= get_user_full_name(client) %></p>
<p>Client Rating: <%= get_avg_rating(client.id) %></p>

<p>Description: <%= get_service_listing_description(@service_listing) %></p>

<% if @service_listing.user_id == session[:user_id] %> 
	<%= form_for (@service_listing), url: {controller: "service_listings", action: "update"} do |t| %>
		<%= t.label :task_date %>
		<%= t.text_field :task_date %>

		<%= t.label :hourly_rate %>
		<%= t.text_field :hourly_rate %>

		<%= t.label :description %>
		<%= t.text_field :description %>
	  <%= t.submit "Update listing", class: "btn btn-primary" %> 
	<% end %> 
<% end %>

<% is_teen = current_user_is_teen() %>
<% if is_teen && is_service_listing_vacant(@service_listing.id) %>
    <td><%= button_to 'Apply for job', { controller: 'service_listing_approvals', action: 'create', :service_listing_id => @service_listing.id} %></td>
<% end %>
