<h1>Client Profile</h1>
<p>
  <strong>First Name:</strong>
  <%= @client.fname %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @client.lname %>
</p>

<h2>Current Client Service Listings</h2>
  <p><% for servID in ServiceListing.where(:clientID => @client.id).pluck(:serviceID) %>
    <%= Service.find(servID).name %>
  </p>
  <% end %>

<h2>Register for a new service</h2>
<p><%= form_with scope: :service_listing, url: service_listings_path, local: true do |form| %>

  <p>
    <%= form.label :"Service" %><br>
    <%= form.select :serviceID, @services.collect { |service| [service.name, service.id] } %>
    <%= form.hidden_field :clientID, value: @client.id %>
  </p>
    
    <%= form.submit %>
</p>
<% end %>
