<h1> Sign-up page for new Teens </h1>
<p><%= @x %></p>
<% if @teen.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teen.errors.count, "error") %> prohibited
        this teen from being saved:
      </h2>
      <ul>
        <% @teen.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_with scope: :teen, url: teens_path, local: true do |form| %>
  <p>
    <%= form.label :"First Name" %><br>
    <%= form.text_field :fname %>
  </p>
 
  <p>
    <%= form.label :"Last Name" %><br>
    <%= form.text_field :lname %>
  </p>

  <p>
    <%= form.label :"State" %><br>
    <%= form.text_field :state %>
  </p>

	<p>
    <%= form.label :"Street Number" %><br>
    <%= form.text_field :strnum %>
  </p>  

	<p>
    <%= form.label :"Postal Code" %><br>
    <%= form.text_field :pcode %>
  </p>  
 
	<p>
    <%= form.label :"City" %><br>
    <%= form.text_field :city %>
  </p>  

	<p>
    <%= form.label :"Country" %><br>
    <%= form.text_field :country %>
  </p>  

	<p>
    <%= form.label :"Email Address" %><br>
    <%= form.text_field :email %>
  </p>  

	<p>
    <%= form.label :"Cell Phone" %><br>
    <%= form.text_field :cellphone %>
  </p>  

	<p>
    <%= form.label :"Birth Date" %><br>
    <%= form.text_field :bdate %>
  </p>  

  <p>
    <%= form.submit %>
  </p>
<% end %>