		<!-- Header -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			
      <header id="header">
				<div class="inner">
					<%= link_to "TeenServe", root_path, class: "logo" %>
					<nav id="nav">
                <a><%= link_to "Home",   welcome_index_url %></a>
                <a><%= link_to "My Jobs",   '#' %></a>
                <a><%= link_to "Browse Jobs", controller: 'service_listings' %></a>
                 <% if !current_user.nil? %>
                  <a><%= link_to "Profile", @current_user %></a>
                  <font color="white"> Welcome, <%= current_user[:username] %> </font>
                  <!--    <strong>Usertype: <#%= current_user[:user_type] %></strong> -->
                  <a><%= link_to("Logout", logout_path, method: :delete) %></a>
                  <% @notifications = get_user_notifications(@current_user.id) %>
                    <div class="container">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="menu1" type="button"  data-toggle="dropdown">Notification<span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                          <% @notifications.each do |notice| %>
                            <li role="presentation"><a role="notices" tabindex="-1" ><strong><%=link_to "#{get_user_name_by_id(notice.actor_id)} #{notice.action} you", notice.notification_path %><strong></a></li>
                            <li role="presentation" class="divider"></li>
                          <% end %>
                        </ul> 
                      </div>
                    </div>
                <% else %>
                  <%= link_to "Login", login_path %>
                <% end %>
  					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

      <script>
        $(document).ready(function(){
          $(".dropdown-toggle").dropdown();
        });
      </script>


