<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    
    <!-- Display flashes at the top of every page -->
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    
    <!-- Temporary display showing login status -->
    <% if !current_user.nil? %>
      <strong>Current logged in user: <%= current_user[:username] %></strong>
      <br/>
      <strong>Usertype: <%= current_user[:usertype] %></strong>
      <br/>
      <strong><%= link_to("Click here to logout", logout_path, method: :delete) %></strong>
    <% else %>
      <strong>No user logged in! <%= link_to "Click here to login", login_path %></strong>
    <% end %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
