<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p>First Name</p>
    <%= form.text_field :fname, id: :user_fname %>
  </div>

  <div class="field">
    <p>Last Name</p>
    <%= form.text_field :lname, id: :user_lname %>
  </div>

  <div class="field">
    <p>State</p>
    <%= form.text_field :state, id: :user_state %>
  </div>

  <div class="field">
    <p>Address</p>
    <%= form.text_field :address, id: :user_address %>
  </div>

  <div class="field">
    <p>Post Code</p>
    <%= form.text_field :pcode, id: :user_pcode %>
  </div>

  <div class="field">
    <p>City</p>
    <%= form.text_field :city, id: :user_city %>
  </div>

  <div class="field">
    <p>Country</p>
    <%= form.text_field :country, id: :user_country %>
  </div>

  <div class="field">
    <p>Telephone</p>
    <%= form.text_field :cellphone, id: :user_cellphone %>
  </div>

  <div class="field">
    <p>Date of Birth</p>
    <%= form.date_select :bdate, id: :user_bdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
