<!-- 6 cases to consider
1. teen viewing his own page
2. teen viewing another teen's page
3. teen viewing a client's page
4. client viewing his own page
5. client viewing teen's page
6. client viewing another client's page
-->

<% @user = User.find(params[:id]) %>

<!-- Viewing a client profile -->
<% if user_is_client(@user) %>
  <% if (params[:id].to_i == session[:user_id]) %>
    <h1>My Posted Listings</h1>
  <% else %>
    <h1>Posted Listings</h1>
  <% end %>

  <% @service_listings = get_service_listings_by_user(@user) %>
  <% @service_listings.each do |service_listing| %>
    <!-- if service listing is approved do not run below this -->
    <% if !service_listing_is_approved(service_listing.id) %> 
      <br><br>
      <strong>Service Listing ID (temp)</strong>
      <%= service_listing.id %><br>

      <strong>Description text: </strong>
      <%= service_listing.description %><br>
      
      <strong>Hourly Rate text: </strong>
      <%= service_listing.hourly_rate %><br><br>
      
      
      <% @SL_approvals = get_SL_approvals_from_SL(service_listing) %>
      <strong> Applied Teens:  </strong><br> <!-- Shouldn't show if there aren't any applications -->

      <% @SL_approvals.each do |application| %>
        <% @teen = get_user(application.teen_id) %>
        <%= link_to (@teen.fname + " "+ @teen.lname + " " + @teen.id.to_s), user_path(@teen) %><br>
          <!-- For user to approve teens he selects -->
        <% if (params[:id].to_i == session[:user_id]) %>

            <%= form_for (application), url: {controller: "service_listing_approvals", action: "update"} do |t| %>
              <%= hidden_field_tag :teen_id, @teen.id %>
              <%= hidden_field_tag :approved, true %>
              <%= hidden_field_tag :service_listing_id, application.service_listing_id %>
              <%= hidden_field_tag :id, params[:id] %>
              <%= t.submit "Approve", class: "btn btn-primary" %> 
            <% end %> 

        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <h1>Accepted Listings</h1>
  <% @approved_listings = get_approved_listings_by_client(@user) %>
  <% @approved_listings.each do |approved_listing| %>
    <strong>Service Listing ID: </strong> 
    <%= approved_listing.service_listing_id %>
    <strong>Approved Teenager ID:</strong>
    <%= approved_listing.teen_id %> <br><br>
  <% end %>
<% end %>


<!-- Viewing a teen profile -->
<% if user_is_teen(@user) %>
  <% if (params[:id].to_i == session[:user_id]) %>
    <h1>My Applied Listings</h1>
  <% else %>
    <h1>Applied Listings</h1>
  <% end %>
  <!-- get all pending applications for the teen -->
  <% @applied_listings = get_applied_listings_by_teen(@user) %>
  <% @applied_listings.each do |applied_listing| %>
<!--   <div>service listing application id:<div>  -->
<!--   <%= applied_listing.service_listing_id.to_s + " is " + service_listing_is_approved(applied_listing.service_listing_id).to_s %> -->
  <!-- If service listing is approved for another teen do not list -->
    <% if !service_listing_is_approved(applied_listing.service_listing_id) %> 
      <%= applied_listing.service_listing_id %><br>
    <% end %>
  <% end %>

  <h1>Accepted Listings</h1>
  <% @approved_listings = get_approved_listings_by_teen(@user)%>
  <% @approved_listings.each do |approved_listing| %>
    <strong>ID: </strong> 
    <%= approved_listing.service_listing_id %><br><br>
  <% end %>
<% end %>

