<% @user = User.find(params[:id]) %>
<tbody>
  <% if current_user_is_client() %>
  <h1>My Posted Jobs</h1>
  <% @service_listings = get_service_listings_by_user(@user) %>
    <% @service_listings.each do |service_listing| %>
    <tr>
      <strong>Description text: </strong>
      <%= service_listing.description %>
      <br>
      <strong>Hourly Rate text: </strong>
      <%= service_listing.hourly_rate %>
      <br>
      <br>
      <% @SL_approvals = get_SL_approvals_from_SL(service_listing) %>
      <% @SL_approvals.each do |application| %>
      <strong> Teen:  </strong>
        <% @teen = get_user(application.teen_id) %>
        <%= link_to @teen.fname, user_path(@teen) %>
        <%= form_for(service_listing) do |t| %>
          <% t.hidden_field :approved, :value => "true" %>
          <%= t.submit "Approve", class: "btn btn-primary" %> 
        <% end %> 
      <% end %>

      <br>
      <% end %>
    </tr>
  <% end %>

  <% if current_user_is_teen() %>
    <h1>Applied Listings</h1>
    <h2> Currently no application process </h2>
    <% @applied_listings = get_applied_listings_by_teen(@user)%>
    <% @applied_listings.each do |applied_listing| %>
      <%= applied_listing.service_listing_id %>
    <% end %>
  <% end %>
</tbody>


<h1> Accepted Listings </h1>
<!-- check where service_listing_approvals.approved == True -->
  <% if current_user_is_teen() %>

    <% @approved_listings = get_approved_listings_by_teen(@user)%>
    <% @approved_listings.each do |approved_listing| %>
      <strong>ID: </strong> 
      <%= approved_listing.service_listing_id %>
      <br>
      <br>
    <% end %>
  <% end %>


  <% if current_user_is_client() %>
  <% end %>