<tr>
  <% @user = User.find(params[:id]) %>
  <% @review_matches = get_user_reviews(@user) %>
  <% @review = Review.new%>
  
<tbody>
  <% @review_matches.each do |review| %>
    <tr>
      <strong>Reviewer: </strong>
      <td><%=  @reviewer = get_user_name_by_id(review.reviewer_id) %></td>
      <br>
      <strong>Review text: </strong>
      <td><%= review.review %></td>
      <br>
      <strong>Rating</strong>
      <td><%= review.rating %></td>
      <br>
      <strong>When</strong>
      <td><%= review.created_at %></td>
      <br> <br>
    </tr>
  <% end %>
</tbody>  
</tr>


<%if(session[:user_id]!=@user.id) %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    
      <%= form_for(@review) do |f| %>

        <%= f.hidden_field :reviewee_id, :value => @user.id %>

        <%= f.label :review %>
        <%= f.text_field :review %>

        <%= f.label :rating %>
        <%= f.text_field :rating %>

      <br><%= f.submit "Leave Review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>  