<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Username</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>State</th>
      <th>Streetnum</th>
      <th>Pcode</th>
      <th>City</th>
      <th>Country</th>
      <th>Email</th>
      <th>Cellphone</th>
      <th>Bdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.type %></td>
        <td><%= user.username %></td>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.state %></td>
        <td><%= user.streetnum %></td>
        <td><%= user.pcode %></td>
        <td><%= user.city %></td>
        <td><%= user.country %></td>
        <td><%= user.email %></td>
        <td><%= user.cellphone %></td>
        <td><%= user.bdate %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
