<% provide(:title, 'Sign Up') %>

<h1>Sign up</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @user, :html=> {:id => 'registrationForm'} do |f| %>
      <div class="tab">
       <p>Pick a unique username</p>
        <%= f.text_field :username, placeholder: "Username" %>
        <p class="errortext" id="error_user_username" error="Please pick a unique username with 3+ characters"></p>
        <p>User type</p>
        <%= f.select :user_type, [['Client', 'client'], ['Teenager', 'teenager']] %>
        <p class="errortext" id="error_user_user_type" ></p>
      </div>
      
      <div class="tab" style = "display:none">
        <p>Tell us about yourself</p>
        <%= f.text_field :fname, placeholder: "First name" %>
        <p class="errortext" id="error_user_fname" error="Please enter a valid name"></p>
        <%= f.text_field :lname, placeholder: "Last name" %>
        <p class="errortext" id="error_user_lname"error="Please enter a valid name"></p>
        <p>Date of Birth</p>
        <%= f.date_field :bdate, placeholder: "Date of Birth" %>
        <p class="errortext" id="error_user_bdate" error="Please enter a valid birthday"></p>
      </div>

      <div class="tab"  style="display:none">
        <p>Address</p>
        <%= f.text_field :address, placeholder: "Street" %>
        <p class="errortext" id="error_user_address" error="Please enter a valid street address"></p>
        <%= f.text_field :city, placeholder: "City" %>
        <p class="errortext" id="error_user_city" error="Please enter a valid city name"></p>
        <%= f.text_field :state, placeholder: "State" %>
        <p class="errortext" id="error_user_state" error="Please enter a valid state name"></p>
        <%= f.text_field :country, placeholder: "Country" %>
        <p class="errortext" id="error_user_country" error="Please enter a valid country name"></p>
        <%= f.text_field :pcode, placeholder: "Zip/Post Code" %>
        <p class="errortext" id="error_user_pcode" error="Please enter a valid postal/zip code"></p>
        <p>Contact phone</p>
        <%= f.telephone_field :cellphone, placeholder: "Telephone" %>
        <p class="errortext" id="error_user_cellphone" error="Please enter a valid 10+ digit phone number"></p>
      </div>

      <div class="tab"  style="display:none">
        <p>Enter an account email</p>
        <%= f.email_field :email, placeholder: "Email" %>
        <p class="errortext" id="error_user_email" error="Please enter a valid email"></p>
        <%= f.email_field :email_confirmation, placeholder: "Confirm email" %>
        <p class="errortext" id="error_user_email_confirmation" error="Invalid email/emails do not match!"></p>
      </div>

      <div class="tab"  style="display:none">
        <p>Pick a secure password</p>
        <%= f.password_field :password, placeholder: "Password" %>
        <p class="errortext" id="error_user_password" error="Please enter a 3+ character password"></p>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
        <p class="errortext" id="error_user_password_confirmation" error="Invalid password/passwords do not match!"></p>
      </div>

      <br>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn btn-primary">Previous</button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn btn-primary">Next</button>
          <%= f.submit "Create Account", class: "btn btn-primary", id: "submitBtn", style: "display:none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', users_path %>
