<% provide(:title, 'Sign Up') %>

<h1>Sign up</h1>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for @user, :html=> {:id => 'registrationForm'} do |f| %>
    
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited signup:</h2>
    
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
    
      <div class="tab">
       <p>Pick a unique username</p>
        <%= f.text_field :username, placeholder: "Username", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_username" error="Please pick a unique username with 3+ characters"></p>
        <p>User type</p>
        <%= f.select :user_type, [['Client', 'client'], ['Teenager', 'teenager']] %>
        <p class="errortext" id="error_user_user_type" ></p>
      </div>
      
      <div class="tab" <% if !@user.errors.any? %> style = "display:none" <% end %>>
        <p>Tell us about yourself</p>
        <%= f.text_field :fname, placeholder: "First name", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_fname" error="Please enter a valid name"></p>
        <%= f.text_field :lname, placeholder: "Last name", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_lname"error="Please enter a valid name"></p>
        <p>Date of Birth</p>
        <%= f.date_field :bdate, placeholder: "Date of Birth", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_bdate" error="Please enter a valid birthday"></p>
      </div>

      <div class="tab" <% if !@user.errors.any? %> style = "display:none" <% end %>>
        <p>Address</p>
        <%= f.text_field :address, placeholder: "Street", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_address" error="Please enter a valid street address"></p>
        <%= f.text_field :city, placeholder: "City", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_city" error="Please enter a valid city name"></p>
        <%= f.text_field :state, placeholder: "State", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_state" error="Please enter a valid state name"></p>
        <%= f.text_field :country, placeholder: "Country", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_country" error="Please enter a valid country name"></p>
        <%= f.text_field :pcode, placeholder: "Zip/Post Code", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_pcode" error="Please enter a valid postal/zip code"></p>
        <p>Contact phone</p>
        <%= f.telephone_field :cellphone, placeholder: "Telephone", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_cellphone" error="Please enter a valid 10+ digit phone number"></p>
      </div>

      <div class="tab"  <% if !@user.errors.any? %> style = "display:none" <% end %>>
        <p>Enter an account email</p>
        <%= f.email_field :email, placeholder: "Email", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_email" error="Please enter a valid email"></p>
        <%= f.email_field :email_confirmation, placeholder: "Confirm email", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_email_confirmation" error="Invalid email/emails do not match!"></p>
      </div>

      <div class="tab" <% if !@user.errors.any? %> style = "display:none" <% end %>>
        <p>Pick a secure password</p>
        <%= f.password_field :password, placeholder: "Password", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_password" error="Please enter a 3+ character password"></p>
        <%= f.password_field :password_confirmation, placeholder: "Confirm password", onblur: "validateInput(this)" %>
        <p class="errortext" id="error_user_password_confirmation" error="Invalid password/passwords do not match!"></p>
      </div>

      <br>
      <div style="overflow:auto;">
        <div style="float:right;">
          <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          <input type="submit" name="commit" value="Create Account" class="btn btn-primary" id="submitBtnFake" style="display:none" data-disable-with="Create Account" disabled="true" />
          <%= f.submit "Create Account", class: "btn btn-primary", id: "submitBtn", style: "display:none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', users_path %>
