<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>
<div class="container">
  <% if session[:user_id] == params[:id].to_i %>
    <h1>Welcome back, <%= @user.fname %></h1>
  <% end %>
  <div class="row profile">
		<div class="col-md-3">
      <%= render "layouts/profile" %>
    </div>
    
    <div class="col-md-2">
      <!-- padding -->
    </div>
    
    <div class="col-md-3">
      <%= render "review" %>
    </div>
  </div>
</div>

    <div class="col-md-2">
      <!-- padding -->
    </div>

    <div class="col-md-3">
      <!-- padding -->

    </div>


<%#= render "notification" %>
<% if @user.id != session[:user_id] and user_is_client(get_user(params[:id]))%>
  <h1>Posted Jobs</h1>
  <% posted = get_service_listings_by_user(get_user(@user.id)) %>
  <% if posted.empty? %>
    No jobs posted at the moment
  <% else %>
    <% posted.each do |service_listing| %>
      <% if !service_listing_is_completed(service_listing) %>
        <%= link_to get_service_listing_service(service_listing), service_listing_path(service_listing.id) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>