<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>
<div class="container">
  <% if session[:user_id] == params[:id].to_i %>
    <h1>Welcome back, <%= @user.fname %></h1>
  <% end %>
  <div class="row profile">
		<div class="col-md-3">
      <%= render "layouts/profile" %>
    </div>
    
    <div class="col-md-2">
      <!-- padding -->
    </div>
    
    <div class="col-md-3">
      <%= render "review" %>
    </div>
  </div>
</div>

    <div class="col-md-2">
      <!-- padding -->
    </div>

    <div class="col-md-3">
      <!-- padding -->

    	  <%=# render "posted" %>
    </div>


<%#= render "notification" %>
