<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>
<%= render "layouts/profile" %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

<%#= render "notification" %>
<%= render "review" %>
<%#= render "listing" %>
