<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>
<div class="siderow">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      <%= gravatar_for @user %>
      <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>

<div class="user_details">
<p>
  <strong>Type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= @user.fname %>
  <%= @user.lname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address%>, <%=@user.city %>, <%= @user.state %>, <%= @user.country%> <%=@user.pcode %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @user.cellphone %>
</p>

<p>
  <strong>Bdate:</strong>
  <%= @user.bdate %>
</p>
</div>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
