
<body>
    <div class="container">
        <h1>Welcome to your Homepage!</h1>
		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<%= image_tag("lawn-mower.jpg", alt: "Rails logo")%>
							</div>
							<% if user_is_client(@current_user) %>
								<header>
									<h3>Post a service listing!</h3>
									<h5>Click below to post a job listing</h5>
								</header>
								<footer>
									<%= link_to 'Add a new service posting!', new_service_listing_path, :class => "button" %>
								</footer>
							<% else %>
								<header>
									<h3>Find the list of available jobs!</h3>
									<h5>Apply to a service listing now</h5>
								</header>
								<footer>
									<%= link_to 'Browse jobs!', '/service_listings', :class => "button" %>
								</footer>
							<% end %>						
							</article>
						
						<article>
							<div class="image round">
								<%= image_tag("smiling.jpg", alt: "Rails logo")%>
							</div>
							<header>
								<h3>Learn more about Teender!</h3>
								<h5>Click below to find out.</h5>
							</header>
							<footer>
								<%= link_to 'About us!', '/contact', :class => "button" %>
							</footer>
						</article>
					</div>
				</div>
			</section>

</body>
